/* You can add global styles to this file, and also import other style files */


.swagger-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@import '~swagger-ui/dist/swagger-ui.css'
